*{
    font-family: 'Poppins', sans-serif;
}
.bg-pink{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}
.bg-gre{
    background-color: #e96196;
    background-image: linear-gradient(90deg, #e96196 0%, #FEEAE9 55%);
}
.bg-ultra{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #129169 0%, #c0f1db 54%);
}